<style type="text/css">
	body{
		background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),
		rgba(0,0,0,0.50) url('../img/salad.jpg') no-repeat center;
		background-size: cover;
		/*background-image: url("../img/bk.jpg");*/
		/*opacity: 0.8;*/
	}
</style>
<div class="row" ng-controller="HomeController" class="container">
	<div class="col s3">
		<div class="card">
			<div class="card-content">
				<h3 class="card-title">Shopping Cart</h3>
				<table class=" highlight">
					<thead>
						<th>Product name</th>
						<th>Quantity</th>
						<th>Price</th>
					</thead>
					<tbody>
						<tr ng-repeat = " product in shoppingCart ">
							<td>
								<p ng-bind ='product.pname'></p>
							</td>
							<td><p ng-bind ='product.quantity'></p></td>
							<td><p ng-bind ='product.price'></p></td>
						</tr> 
					</tbody>
				</table>
				<div class="input-field col s12" id="coupon">
					<input type="text" class="form-control" placeholder='Coupon Code' ng-model="coupon_code">
					<p>{{couponM}}</p>
				</div>
				<div><a class="btn waves-effect waves-teal btn-flat" ng-click="apply_coupon()">Apply Coupon</a></div>
			</div>
			<div class="card-action">
				<h5>Total {{total}}</h5>
			</div>
		</div>
		<button class="btn green waves-effect waves-light" ng-click="order()">Submit Order<i class="material-icons right">send</i></button>
	</div>
	<div class="col s9">
		<div class="input-field col s12" id="search">
			<i class="material-icons prefix">search</i>
			<input id="search" type="text" class="form-control white-text" placeholder='Search here' ng-model="filter_product">
		</div>
		<div class="col s9">
			<button ng-repeat = " cate in gCates "  ng-click="selectCate(cate.category)" class="btn">
				{{cate.category}}
			</button>
			<button class="btn" ng-click="selectCate(0)">All</button>
		</div>
		<div class="col s12 m6 l3" ng-repeat="tclass in allClasses">
			<div class="card" ng-click="get_class_detail(tclass)">
				<div class="card-image">
					<img src="../img/bk.jpg" class="">
				</div>
				<h3>Class</h3>
				<div class="card-content">
					<span class="card-title" ng-bind="tclass.cname"></span>
				</div>
			</div>
		</div>
	</div>
</div>